.head_title {
    font-size: 20px;
    background-color: rgb(5, 82, 82);
    color: white;
}

.topnav,
a,li{
    text-decoration: none;
    padding:20px;
    color: white;
    text-align:center;
    font-size: 20px;

}
a:hover {
   color: white;
    background-image: url(img/nav-active.png);
 background-repeat: no-repeat;
 background-size:cover;
 }
.head_title {
    display: flex;
    justify-content: space-between;
}
/* =============navbar Ending====== */
/* =======Banner Image and Work Section Start========= */
.banner_img img{
    text-align: center;
    /* width:80vh; */
    height:70vh;}
    .about_section {
        display: flex;
        justify-content:center;
        gap: 80px;
    text-align: center;
        background-color: rgb(3, 66, 66);
        color: white;
    }
    
    .about_section h1 {
        margin-left: 70px;
        font-size: 30px;
        
        white-space: nowrap;
    }
    
    .about_section,
    p {
        font-size: 20px;
    }
    
    .about-img img  {
        height:50px;
    }
    /* =======Banner Image and Work Section Ending========= */
 /* ================profile Section Start============== */
    .horizontal-line {
        width: 80%;
        margin: 0 auto;
    }
    
    .profile-heading {
        text-align: center;
        font-size: 45px;
        margin-top:7%;
    }
    
    .profile-small {
        text-align: center;
        font-weight: bold;
    }
    
    button{
        background-color:aliceblue;
           
            /* border: none; */
            color: rgb(8, 8, 8);
            padding:15px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
          button:hover {
            background-color:rgb(7, 133, 133);
            color: white;
          }
          .profile_header{
            margin-left: 4%;
            margin-right: 4%;
          }
          
    

    