.banner_img{
    width:1100px;
    margin-top: 30px;
    
}
.banner_text{
    margin-top:30px ;
}

.middle-img{
    
    margin-top: 10px;
    width: 325px;
    }
    .quick-list{
        margin-top:3%;
        gap:10px;
      
    }
    /* ====footer=== */
    .footer{
        
        background-color: black;
        color: white;
    }
    .horizontal{
        /* color: white; */
        border: 2px solid white;


    }
    .form,input{
        background-color:rgb(30, 141, 141);
        color: white;
    }
    .footer-img,img{
        width:80px;
        gap: 10px;
    }
   .topper-nav a:hover{
        background-color: red;
        padding: 5px;
        border-radius: 10px;
    
        
    }
    a{
        color:white; 
    }
        
    
    
    /*===footer=== */
